body{
    margin-top: 70px;
    width: 100%;
    height: 100%;
}

/* START NAV RULES */
/*######################################################*/
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #292929;

}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: #0aaca7;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.dropdown-menu {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.dropdown-menu-black {
    background-color: #292929;
}



.dropdown-menu > li > a
{
    color: white;
}

/*######################################################*/
/* END NAV RULES */


/* START POST RULES */
/*######################################################*/
.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 30px;
}

.posts .post .info {
    color: #aaa;
    font-style: italic;
}

.error
{
    text-align: center;
}

.error ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*######################################################*/
/* END NAV RULES */


/* START LOCATION RULES */
/*######################################################*/

@media (min-width:992px) {
    .margin-bottom-2{
        margin-bottom: 2%;
    }

    .locations-grid{
        background-size: cover;
        height: 230px;
        background-repeat: no-repeat;
    }

    .hide-mobile{
        display: block;
    }

    .show-mobile{
        display: none;
    }
}

@media (max-width: 991px) {

    .margin-bottom-2{
        margin-bottom: 10%;
    }

    .locations-grid{
        background-size: cover;
        height: 400px;
        background-repeat: no-repeat;
    }

    .show-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}

.loc-box a{
    text-decoration: none;
}

.img-margin
{
    margin-bottom: 35px;
}

.on-hover img {
    width: 100%;
    display: block;
}
.caption {
        padding: 7px 5px 8px 14px;
        background-color: rgba(10, 172, 167, 0.7);
        position: absolute;
        width: 50%;
        border-bottom: 8px solid #075d59;
        border-top-left-radius: .35em;
        right: 0;
        bottom:0;
        text-decoration: none;
        height: 2em;
        padding-top: 9%;
        font-size: 2em;
        text-align: center;
    }

.caption h4 {
    font: 19px 'Comfortaa';
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

/*######################################################*/
/* END LOCATION RULES */
